{% extends 'base.html' %}
  {% load static %}
  {% block content %}
  <div class="details-page">
      <!-- Breadcrumb -->
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-uppercase"> <a href="{% url 'index' %}" class="text-primary">Home</a></li>
          <li class="breadcrumb-item ">
            {% if category %}
           <a href="{% url 'product' category %}" 
           class="text-primary">{% if category == 'homme' %}Boxers{% else %}Ensembles, Strings, Soutiens-gorges{% endif %}</a>
           {% endif %}
         </li>
          <li class="breadcrumb-item active text-uppercase">Détails</li>
        </ol>
      </div>
      <!-- Item details -->
      <section class="item-details p-t-small p-b-small">
        <div class="container">
          <div class="row">
           <div id="myCarousel" class="col-md-6 carousel slide img-fluid" data-ride="carousel" data-bs-interval="4000">
  <!-- Indicateurs -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    {% for productphoto in productphotos %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
    {% endfor %}
  </ol>

  <!-- Slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ product.image.url }}" alt="Homme" class="d-block w-100 img-fluid h-100">
    </div>
    {% for productphoto in productphotos %}
    <div class="carousel-item">
      <img src="{{ productphoto.images.url }}" alt="ProductPhoto" class="d-block w-100 img-fluid h-100">
    </div>
    {% endfor %}
  </div>

  <!-- Contrôles -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


            <div class="col-md-6">
              <h1 class="h2">{{ product.nom }}</h1>
              <h3 class="price d-flex justify-content-between align-items-center text-primary">Type => {{ product.product_type }}</h3>
              <div class="price d-flex justify-content-between align-items-center text-primary">{{ product.prix}} Fcfa</div>
              
              <div class="description">
                 <h6> <b><i>{{ product.description }}</i></b> </h6>
              </div>
              <form action="{% url 'add_to_cart' pk=product.pk %}" method="post">
                
                <div class="CTAs my-5 mt-5"> 
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      {% csrf_token %}
                       <a href="{% url 'add_to_cart' pk=product.pk %}" class="btn btn-primary btn-sm">Ajouter
<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"> 
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
    </path>
</svg>
</a>
                    </li>
                   
                  </ul>
                </div>
              </form>
            </div>
             </div>
          </div>
        </div>
      </section>









      <!-- Related Items                         -->
      <section class="related-items p-t-small p-b-small">
        <div class="container">
          <h3 class="heading-line">Vous aimeriez surement...</h3>
          <div class="row">
              {% for related_product in related_products %}
                
                <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-left">
                  <div class="item text-center">
                    <div class="product-image"><span class="new badge badge-pill badge-info text-uppercase">new</span><img src="{{ related_product.image.url }}" alt="camera" class="img-fluid">
                      <div class="overlay p-0 d-flex align-items-center justify-content-center mt-5">
                        
                        <ul class="list-unstyled mb-0">
                          <li><a href="{% url 'details' related_product.id %}" class="btn btn-primary btn-sm px-4 mb-2">
                               
                              Voir plus</a></li>
                          <li>
 <a href="{% url 'add_to_cart' pk=product.pk %}" class="btn btn-dark btn-sm">Ajouter
<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"> 
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
    </path>
</svg>
</a>    
                            </li>
                        </ul>
                      </div>
                    </div><a href="#" class="item-name">
                      <h4 class=" mt-5" style="padding-top: 65px;">{{ related_product.nom }}</h4></a>
                    <ul class="list-inline rate text-primary my-2">
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                    <h6 style="">{{ related_product.description }}</h6>
                    <ul class="price list-inline">
                      <li class="list-inline-item"> <span class="price">{{ related_product.prix }} Fcfa</span></li>
                    </ul>
                  </div>
                </div>
                
                {% endfor %} 
                
          </div>
        </div>
      </section>
    </div>
    <!-- Search Panel-->
    <div class="search-overlay">
      <div class="search-inner d-flex justify-content-center align-items-center">
        <div class="search-close"><i class="icon-close"></i></div>
        <div class="container">
          <div class="form-holder">
            <form class="d-flex">
              <input type="search" placeholder="What are you looking for...">
              <button type="submit" class="search text-primary text-uppercase">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  {% endblock content %} 