{% load static %}
<div id="copyright">
	
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-md-left">© 2014 - 2018. Minimal is responsive template by <a href="http://www.ondrejsvestka.cz" class="external">Ondrej Svestka</a>.</div>
            <div class="col-md-6 text-center text-md-right"><img src="https://d19m59y37dris4.cloudfront.net/minimal/2-1-1/img/payment.png" alt="payments accepted"></div>
          </div>
        </div>
      </div> 