 {% load static %}

 <!-- navbar-->
    <!-- *** NAVBAR *** -->
          
    <nav id="navbar" role="navigation" class="navbar navbar-light fixed-top navbar-expand-lg yamm justify-content-center" style="background-color:ghostwhite;">

      <a href="{% url 'index' %}" class=" nav-item active"> <h3>Underwear</h3><span class="sr-only"></span></a>







  <div class="nav-item dropdown active text-center "><a id="navbarHome" data-target="#" href="" data-toggle="dropdown" class="nav-link dropdown-toggle" style="background-color:ghostwhite">Catégories</a>
              <div aria-labelledby="navbarHome" class="dropdown-menu">
                <a href="{% url 'product' 'homme' %}" class="dropdown-item">Homme</a>
                <a href="{% url 'product' 'femme' %}" class="dropdown-item">Femme</a></div>
            </div>
<div class="nav-item"><a href="#contact" class="nav-link">Contact</a></div> 

 <!--div class="nav-item"><a href="{% url 'cart' %}" class="nav-link">Panier</a></div--> 
<div class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></div> 
<div class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></div>          
 <a href="{% url 'cart' %}" class="nav-link">
<button class="btn btn-primary" > 
<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"  >
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
    </path>
</svg><strong>{{ request.cart_items_count }}</strong> 
</button>
</a>

       

       


     </nav>

 
  



