 {% load static %}

 <!-- navbar-->
    <!-- *** NAVBAR *** -->
          
    <nav id="navbar" role="navigation" class="navbar navbar-light fixed-top navbar-expand-lg yamm justify-content-center" style="background-color:ghostwhite;">

      <a href="{% url 'index' %}" class=" nav-item active"> <h3>Underwear</h3><span class="sr-only"></span></a>







  <div class="nav-item dropdown active text-center "><a id="navbarHome" data-target="#" href="" data-toggle="dropdown" class="nav-link dropdown-toggle" style="background-color:ghostwhite">Catégories</a>
              <div aria-labelledby="navbarHome" class="dropdown-menu"><a href="{% url 'harticle' %}" class="dropdown-item">Homme</a><a href="{% url 'farticle' %}" class="dropdown-item">Femme</a></div>
            </div>
<div class="nav-item"><a href="#contact" class="nav-link">Contact</a></div> 
<div class="nav-item"><a href="{% url 'cart' %}" class="nav-link">Cart</a></div>           
       <button type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-outline-secondary mr-1"><span class="sr-only">User login</span><i class="fa fa-users"></i></button>   


     </nav>

 
    <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Customer login</h4>
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
          </div>
          <div class="modal-body">
            <form action="customer-orders.html" method="get">
              <div class="form-group">
                <input id="email" type="text" placeholder="email" class="form-control">
              </div>
              <div class="form-group">
                <input id="password" type="password" placeholder="password" class="form-control">
              </div>
              <p class="text-center">
                <button class="btn btn-outline-primary"><i class="fa fa-sign-in"></i> Log in</button>
              </p>
            </form>
            <p class="text-center text-muted">Not registered yet?</p>
            <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access
                        to special discounts and much more!
            </p>
          </div>
        </div>
      </div>
    </div> 





