{% extends 'base.html' %}
  {% load static %}
  {% block content %}


    <div class="category-page">
      <!-- Breadcrumb -->
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-uppercase"> <a href="{% url 'index' %}" class="text-primary">Home</a></li>
          <li class="breadcrumb-item active text-uppercase">{% if category == 'homme' %}BOXERS{% else %}LINGERIES{% endif %}</li>
        </ol>
      </div>
      <!-- Products-->
      <section class="products p-t-small">
        <div class="container">
          <header>
            <div class="row d-flex align-items-center">
              <div class="col-md-6">
                <h2 class="heading-line">Sous-vetements {% if category == 'homme' %}Hommes{% else %}Femmes{% endif %}</h2>
              </div>
              <div class="col-md-6">
                <div class="filters d-flex justify-content-end">
                   <form  method="GET"  >
            <select title="Type de produit" name="product_type" class="filters form-control">
                 <option value="" {% if not selected_product_type %}selected{% endif %}>Tous les produits</option>
            {% for product_type in product_types %}
                <option value="{{ product_type.product_type }}" {% if selected_product_type == product_type.product_type %}selected{% endif %}>{{ product_type.product_type }}</option>
            {% endfor %}
            </select>
           <button class="btn btn-primary" type="submit">Rechercher</button>
           </form>
                </div>
              </div>
            </div>
          </header>
          <div class="my-5">
            <div class="row">
                 {% for product in products %} 
                  <div class="col-lg-3 col-md-4 col-sm-6 aos-init aos-animate" data-aos="fade-left">
                    <div class="item text-center">
                      <div class="product-image"><span class="new badge badge-pill badge-secondary text-uppercase">sale</span><img src="{{ product.image.url }}" alt="camera" class="img-fluid">
                        <div class="overlay p-0 d-flex align-items-center justify-content-center mt-5">

                          <ul class="list-unstyled mb-0">
                            <li><a href="{% url 'details' product.id %}" class="btn btn-primary btn-sm px-4 mb-2"> 
                                 
                                Voir plus</a></li>
                            <li>
    <a href="{% url 'add_to_cart' pk=product.pk %}" class="btn btn-dark btn-sm">Ajouter
<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"> 
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
    </path>
</svg>
</a></li>
     </ul>
      </div>
       </div>
                      <!--li>
                        <a href="{% url 'add_to_cart' pk=product.pk %}" class="btn btn-dark btn-sm">
                        Acheter</a></li-->
                      <a href="detail.html" class="item-name">
                        <h4 class=" mt-5" style="padding-top: 65px;">{{ product.nom }}</h4></a>
                      <ul class="list-inline rate text-primary my-2">
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                      <h6> <b><i>{{ product.description }}</i></b> </h6>
                      <ul class="price list-inline">
                        <li class="list-inline-item"> <span class="price">{{ product.prix }} Fcfa</span></li>
                      </ul>
                    </div>
                  </div>
                   {% endfor %}
                  
                
               
              
            </div>
          </div>
          <!-- Pagination -->
          <div class="pagination pagination-custom mt-5">
            <nav aria-label="...">
              <ul class="pagination pagination-sm d-flex justify-content-between">
                <li class="page-item disabled"><a href="#" tabindex="-1" class="page-link">Previous</a></li>
                <li> 
                  <ul class="pages list-inline">
                    <li class="page-item active list-inline-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item list-inline-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item list-inline-item"><a href="#" class="page-link">3</a></li>
                  </ul>
                </li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </div>
    <!-- Search Panel-->
    <div class="search-overlay">
      <div class="search-inner d-flex justify-content-center align-items-center">
        <div class="search-close"><i class="icon-close"></i></div>
        <div class="container">
          <div class="form-holder">
            <form class="d-flex">
              <input type="search" placeholder="What are you looking for...">
              <button type="submit" class="search text-primary text-uppercase">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock content %} 
